.product{
  width:300px;
  height: 550px;
  margin-top:70px;
  border:0.5px solid gray;
  border-radius: 5px;
  position: relative;
}

.product img{
 width:286px;
 height:286px;
 border-radius: 10px;
 padding:7px;
}
.product-info{
 margin-left:12px;

}
.product-name{
 font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top:12px;
  margin-bottom: 0px;
}
.product-info p{
  margin:0px;
  padding:0px;
  
}
.product-price{
 margin-bottom:40px;
 margin-top:12px;
 font-size: 21px;
}
.btn{
 width:100%;
 position:absolute;
 bottom:0;
 background-color: #FFE0B3;
 border:none;
 font-weight: bold;
 border-radius: 5px;
 margin-top:0px;
 margin-bottom:0px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.btn-text{
  margin-right: 8px;
}